# Go to https://citation-file-format.github.io/cff-initializer-javascript/#/ to finish this
cff-version: 1.2.0
title: {{ PackageName }}.jl
message: >-
  If you use this software, please cite it using the
  metadata from this file.
type: software
authors:
{%- for author in Authors.split(',') %}
{%- if author | length > 0 %}
  - given-names: {{ author | regex_replace('^\\s*(.*)\\s*<.*>.*$', '\\1') }}
{%- set email = author | regex_replace('.*<(.*)>.*', '\\1') %}
{%- if email | length > 0 %}
    email: {{ email }}
{%- endif %}
{%- endif %}
{%- endfor %}
