# This file was created by BestieTemplate.jl. Create issues there: https://github.com/abelsiqueira/BestieTemplate.jl/issues
exclude = [
  "@ref",
  "^https://github.com/.*/releases/tag/v.*$",
  "^https://doi.org/FIXME$",
  "^https://{{ PackageOwner }}.github.io/{{ PackageName }}.jl/stable$",
  "zenodo.org/badge/DOI/FIXME$"
]

exclude_path = [
  "docs/build"
]
