# {{ PackageName }}

<!-- This check was disabled because these links don't exist until you push, create documentation, and create your first release -->
<!-- markdown-link-check-disable -->
[![Stable Documentation](https://img.shields.io/badge/docs-stable-blue.svg)](https://{{ PackageOwner }}.github.io/{{ PackageName }}.jl/stable)
[![In development documentation](https://img.shields.io/badge/docs-dev-blue.svg)](https://{{ PackageOwner }}.github.io/{{ PackageName }}.jl/dev)
[![Build Status](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/workflows/Test/badge.svg)](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions)
[![Test workflow status](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions/workflows/Test.yml/badge.svg?branch=main)](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions/workflows/Test.yml?query=branch%3Amain)
[![Lint workflow Status](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions/workflows/Lint.yml/badge.svg?branch=main)](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions/workflows/Lint.yml?query=branch%3Amain)
[![Docs workflow Status](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions/workflows/Docs.yml/badge.svg?branch=main)](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions/workflows/Docs.yml?query=branch%3Amain)
{% if UseCirrusCI %}[![Build Status](https://api.cirrus-ci.com/github/{{ PackageOwner }}/{{ PackageName }}.jl.svg)](https://cirrus-ci.com/github/{{ PackageOwner }}/{{ PackageName }}.jl){% endif %}
[![Coverage](https://codecov.io/gh/{{ PackageOwner }}/{{ PackageName }}.jl/branch/main/graph/badge.svg)](https://codecov.io/gh/{{ PackageOwner }}/{{ PackageName }}.jl)
[![DOI](https://zenodo.org/badge/DOI/FIXME)](https://doi.org/FIXME)
{% if AddCodeOfConduct %}[![Contributor Covenant](https://img.shields.io/badge/Contributor%20Covenant-2.1-4baaaa.svg)](CODE_OF_CONDUCT.md){% endif %}

## How to Cite

If you use {{ PackageName }}.jl in your work, please cite using the reference given in [CITATION.cff](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/blob/main/CITATION.cff).

## Contributing

If you want to make contributions of any kind, please first that a look into our [contributing guide directly on GitHub](docs/src/90-contributing.md) or the [contributing page on the website](https://{{ PackageOwner }}.github.io/{{ PackageName }}.jl/dev/contributing/).

---

This repo was created with the [COPIERTemplate.jl](https://github.com/abelsiqueira/COPIERTemplate.jl) package.
