# {{ PackageName }}

[![Stable Documentation](https://img.shields.io/badge/docs-stable-blue.svg)](https://{{ PackageOwner }}.github.io/{{ PackageName }}.jl/stable)
[![In development documentation](https://img.shields.io/badge/docs-dev-blue.svg)](https://{{ PackageOwner }}.github.io/{{ PackageName }}.jl/dev)
[![Build Status](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/workflows/Test/badge.svg)](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions)
[![Test workflow status](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions/workflows/Test.yml/badge.svg?branch=main)](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions/workflows/Test.yml?query=branch%3Amain)
[![Lint workflow Status](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions/workflows/Lint.yml/badge.svg?branch=main)](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions/workflows/Lint.yml?query=branch%3Amain)
[![Docs workflow Status](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions/workflows/Docs.yml/badge.svg?branch=main)](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/actions/workflows/Docs.yml?query=branch%3Amain)
{% if UseCirrusCI -%}
[![Build Status](https://api.cirrus-ci.com/github/{{ PackageOwner }}/{{ PackageName }}.jl.svg)](https://cirrus-ci.com/github/{{ PackageOwner }}/{{ PackageName }}.jl)
{% endif -%}
[![Coverage](https://codecov.io/gh/{{ PackageOwner }}/{{ PackageName }}.jl/branch/main/graph/badge.svg)](https://codecov.io/gh/{{ PackageOwner }}/{{ PackageName }}.jl)
[![DOI](https://zenodo.org/badge/DOI/FIXME)](https://doi.org/FIXME)
{% if AddCodeOfConduct -%}
[![Contributor Covenant](https://img.shields.io/badge/Contributor%20Covenant-2.1-4baaaa.svg)](CODE_OF_CONDUCT.md)
{% endif -%}
{% if AddAllcontributors -%}
[![All Contributors](https://img.shields.io/github/all-contributors/{{ PackageOwner }}/{{ PackageName }}.jl?labelColor=5e1ec7&color=c0ffee&style=flat-square)](#contributors)
{% endif -%}
[![BestieTemplate](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/JuliaBesties/BestieTemplate.jl/main/docs/src/assets/badge.json)](https://github.com/JuliaBesties/BestieTemplate.jl)

## How to Cite

If you use {{ PackageName }}.jl in your work, please cite using the reference given in [CITATION.cff](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/blob/main/CITATION.cff).

{% if AddContributionDocs -%}
## Contributing

If you want to make contributions of any kind, please first that a look into our [contributing guide directly on GitHub](docs/src/90-contributing.md) or the [contributing page on the website](https://{{ PackageOwner }}.github.io/{{ PackageName }}.jl/dev/90-contributing/)
{%- endif -%}
{%- if AddAllcontributors %}

---

### Contributors

<!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
<!-- prettier-ignore-start -->
<!-- markdownlint-disable -->

<!-- markdownlint-restore -->
<!-- prettier-ignore-end -->

<!-- ALL-CONTRIBUTORS-LIST:END -->
{% endif -%}
