# Go to https://citation-file-format.github.io/cff-initializer-javascript/#/ to finish this
cff-version: 1.2.0
title: {{ PackageName }}.jl
message: >-
  If you use this software, please cite it using the
  metadata from this file.
type: software
authors:
{%- for author in Authors.split(',') %}
  {% set name = author | regex_search('^\\s*([^\s].*[^\s])\\s*<.*>.*$', '\\1') -%}
  {%- if name and name | length > 0 -%}
  - given-names: {{ name | first }}
  {%- set email = author | regex_search('.*<(.*)>.*', '\\1') -%}
    {% if email and email | length > 0 %}
    email: {{ email | first }}
    {%- endif -%}
  {%- endif -%}
{%- endfor %}
