{
  "MD007": {
    "indent": {{ MarkdownIndentation }},
    "start_indented": false
  },
  "MD013": {
    "line_length": 1000,
    "tables": false
  },
  "MD033": false,
  "MD041": false,
  "default": true
}
