```@meta
CurrentModule = {{ PackageName }}
```

# {{ PackageName }}

Documentation for [{{ PackageName }}](https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl).

{% if AddAllcontributors -%}
## Contributors

```@raw html
<!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
<!-- prettier-ignore-start -->
<!-- markdownlint-disable -->

<!-- markdownlint-restore -->
<!-- prettier-ignore-end -->

<!-- ALL-CONTRIBUTORS-LIST:END -->
```
{% endif -%}
