name: Test

on:
  push:
    branches:
      - main
    tags: ["*"]
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/ReusableTest.yml
    with:
      os: {% raw %}${{ matrix.os }}{% endraw %}
      version: {% raw %}${{ matrix.version }}{% endraw %}
      arch: {% raw %}${{ matrix.arch }}{% endraw %}
      allow_failure: {% raw %}${{ matrix.allow_failure }}{% endraw %}
      run_codecov: {% raw %}${{ matrix.version == '1' && matrix.os == 'ubuntu-latest' }}{% endraw %}
    secrets:
      codecov_token: {% raw %}${{ secrets.CODECOV_TOKEN }}{% endraw %}
    strategy:
      fail-fast: false
      matrix:
        version:
          - "{{ JuliaMinCIVersion }}"
          - "1"
        os:
          - ubuntu-latest
          {% if AddMacToCI -%}
          - macOS-latest
          {% endif -%}
          {% if AddWinToCI -%}
          - windows-latest
        {% endif -%}
        arch:
          - x64
        allow_failure: [false]
        {%- if RunJuliaNightlyOnCI %}
        include:
          - version: "nightly"
            os: ubuntu-latest
            arch: x64
            allow_failure: true
          {% if AddMacToCI -%}
          - version: "nightly"
            os: macOS-latest
            arch: x64
            allow_failure: true
          {% endif -%}
          {% if AddWinToCI -%}
          - version: "nightly"
            os: windows-latest
            arch: x64
            allow_failure: true
          {%- endif -%}
          {%- endif %}
