using {{ PackageName }}
using Documenter

DocMeta.setdocmeta!({{ PackageName }}, :DocTestSetup, :(using {{ PackageName }}); recursive = true)

const page_rename = Dict("developer.md" => "Developer docs") # Without the numbers

function nice_name(file)
  file = replace(file, r"^[0-9]*-" => "")
  if haskey(page_rename, file)
    return page_rename[file]
  end
  return splitext(file)[1] |> x -> replace(x, "-" => " ") |> titlecase
end

makedocs(;
  modules = [{{ PackageName }}],
  doctest = true,
  linkcheck = true,
  authors = "{{ AuthorName }} <{{ AuthorEmail }}> and contributors",
  repo = "https://github.com/{{ PackageOwner }}/{{ PackageName }}.jl/blob/{commit}{path}#{line}",
  sitename = "{{ PackageName }}.jl",
  format = Documenter.HTML(;
    prettyurls = get(ENV, "CI", "false") == "true",
    canonical = "https://{{ PackageOwner }}.github.io/{{ PackageName }}.jl",
    assets = ["assets/style.css"],
  ),
  pages = [
    "Home" => "index.md";
    [
      nice_name(file) => file for
      file in readdir(joinpath(@__DIR__), "src") if file != "index.md" && splitext(file[2]) == ".md"
    ]
  ],
)

deploydocs(; repo = "github.com/{{ PackageOwner }}/{{ PackageName }}.jl", push_preview = true)
