name: Test generated package

on:
  push:
    branches:
      - main
    tags: ["*"]

  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "test/**"
      - "*.toml"
      - "copier.yml"
      - "template/**"
      - ".github/workflows/TestGeneratedPkg.yml"
    types: [opened, synchronize, reopened]

  workflow_dispatch:

jobs:
  test-generated-pkg:
    strategy:
      fail-fast: false # TODO: set to true
      matrix:
        version:
          - "lts"
          - "1"
        os:
          - ubuntu-latest
        arch:
          - x64
        allow_failure: [false]
        strategy_level:
          - "tiny"
          - "light"
          - "moderate"
          - "robust"
    uses: ./.github/workflows/ReusableTestGeneratedPkg.yml
    with:
      julia_version: ${{ matrix.version }}
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      strategy_level: ${{ matrix.strategy_level }}
      enable_docs: true
      allow_failure: ${{ matrix.allow_failure }}

  test-testing-strategies:
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1" # with the introduction of workspaces and sources, testitem does not interact well with LTS
        os:
          - ubuntu-latest
        arch:
          - x64
        testing_strategy:
          - "basic"
          - "testitem_cli"
          - "testitem_basic"
          - "basic_auto_discover"
    uses: ./.github/workflows/ReusableTestGeneratedPkg.yml
    with:
      julia_version: ${{ matrix.version }}
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      strategy_level: "moderate"
      testing_strategy: ${{ matrix.testing_strategy }}
      enable_docs: false

  test-key-interactions:
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1" # with the introduction of workspaces and sources, testitem does not interact well with LTS
        os:
          - ubuntu-latest
        arch:
          - x64
        combination:
          - {strategy_level: "robust", testing_strategy: "basic"}
          - {strategy_level: "tiny", testing_strategy: "testitem_cli"}
          - {strategy_level: "moderate", testing_strategy: "basic_auto_discover"}
    uses: ./.github/workflows/ReusableTestGeneratedPkg.yml
    with:
      julia_version: ${{ matrix.version }}
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      strategy_level: ${{ matrix.combination.strategy_level }}
      testing_strategy: ${{ matrix.combination.testing_strategy }}
      enable_docs: false
